h1 {
    text-align: center;
  }
  
  h3 {
    text-align: center;
    font-weight: 500;
  }
  
  .leftDiv, .rightDiv {
    width: 45%;
    
    
  }
 
  figure {
    text-align: center;
  }
  figcaption{
    font-style: italic;
    font-size: .75em;
  }

  h1, h3, figcaption {
    color:red
  }
  .image-gallery {
    width:100%;
    overflow:auto;
    
  }
  .image-gallery div {
    width:33%;
    float:left;
    display: grid;
    border: 1px solid black;
  }

  .leftDiv {
    float: left;
    border: 1px solid;
    border-color: red;
    border-radius: 15px; 
  }
  
  .rightDiv {
    float: right;
    border: 1px dashed;
    border-color: red;
    border-radius: 15px;
  }
  
  .newDiv {
    width: 100%;
    margin-top: 60%;
  float: right;
    margin-bottom: 20px;
    
  }
  
  .lastDiv {
    width: 100%;
    margin-top: 20%;
  }
  
  ul {
    padding: 10px;
    list-style-type: upper-roman;
    list-style-position: inside;
  }
  
  ol {
    padding: 10px;
    list-style-position: inside;
  }
  
  li {
    font-weight: 300;
  }
  
  a {
    float: right;
  }
  
  a:hover {
    text-decoration: underline;
  }