container {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

h1, h2, h3, h4 {
  background-color: black;
  font-family: "Courier New", monospace;
  color: #D6A800;
  border: 1px solid;
  border-color:  #D6A800;
  padding: 10px;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  background-color: yellow;
  font-size: 18px;
}

a:hover {
  background-color: #D6A800;
}

a:visited {
  background-color: black;
}